/* Importing fonts */
@font-face {
  font-family: 'Montserrat-SemiBold';
  src: url('../assets/Fonts/Montserrat-SemiBold.ttf');
}

@font-face {
  font-family: 'Montserrat-Light';
  src: url('../assets/Fonts/Montserrat-Light.ttf');
}

@font-face {
  font-family: 'Montserrat-LightItalic';
  src: url('../assets/Fonts/Montserrat-LightItalic.ttf');
}

@font-face {
  font-family: 'Montserrat-Medium';
  src: url('../assets/Fonts/Montserrat-Medium.ttf');
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: url('../assets/Fonts/Montserrat-Bold.ttf');
}

/* Global styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#userDrop ul{
  background-color: #110f0e;
}

/* Body styling */
body {
  font-family: 'Montserrat-Light', sans-serif;
  background-color: white;
  color: red;
}
.navbar ul li a{
    color: white;
    font-family: Montserrat-Medium;
}
.navbar ul li a:hover{
    color: rgb(81, 81, 253);
    transition: 0.4s;
}
/* Header styling */
.contactTitle h2 {
  font-family: 'Montserrat-Bold', sans-serif;
  font-size: 1.75em;
  color: #ddd;
}

/* Paragraph styling */
.contactTitle p {
  font-size: 1.1em;
  color: #ccc;
  letter-spacing: 1px;
  line-height: 1.6;
}

/* Form and Button styling */
.messageForm input,
.messageForm textarea {
  font-family: 'Montserrat-Light', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif; /* Combining both font families */
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: #232323; /* Dark background */
  color: white;
}

.container1 {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  padding: 10%;
  background-color: #141414;
  border-bottom: 1px solid white;
  
}

.container .row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1100px;

}

.row section.col {
  display: flex;
  flex-direction: column;
}

.row section.left {
  flex-basis: 35%;
  min-width: 320px;
  margin-right: 60px;
}

.row section.right {
  flex-basis: 60%;
}

/* Left Section Styling */
section.left .contactTitle h1 {
  position: relative;
  font-size: 2.5rem; /* Matches heading size with the other content */
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.35);
  display: inline-block;
  margin-bottom: 10px;
}

section.left .contactTitle h1::before,
section.left .contactTitle h1::after {
  content: '';
  position: absolute;
}

/* section.left .contactTitle h1::before {
  width: 75%;
  height: 1px;
  background-color: #232323;
  top: 120%;
  left: 0;
}

section.left .contactTitle h1::after {
  width: 100%;
  height: 1px;
  background: linear-gradient(135deg, #787878, #232323); 
  top: calc(122% - 1px);
  left: 0;
}
*/
.button{
  padding: 5px 10px;
  border-radius: 50px;
  background-color: transparent;
  border: 2px solid white;
  color: white;
  font-size: 14px;
  transition: 0.4s;
  box-shadow: 0 0 4px 0px white;
  font-weight: bold;
}
.button:hover{
  transform: translateY(-4px) translateX(-4px);
  box-shadow: 2px 3px 0 0 #ff0d00;
  border: 1px solid #ff0d00;
  color: red;
}

section.left .contactTitle p {
  font-size: 0.9rem; /* Matches paragraph font size */
  color: #fff;
  line-height: 1.6; /* Matches line height */
  padding-bottom: 22px;
}

/* Contact Info */
section.left .contactInfo {
  margin-bottom: 16px;
}
.contactInfo .iconGroup {
  display: flex;
  align-items: center;
  margin: 25px 0;
}

.iconGroup .icon {
  width: 40px;
  height: 40px;
  border: 1px solid #000;
  box-shadow: 0 0 10px 5px #000; 
  border-radius: 50%;
  margin-right: 20px;
  background: linear-gradient(120deg, #007bffb0, #ff0d00b0 85%);
  text-shadow: 0 0 5px #ddd;
  position: relative;
}

.iconGroup .icon i {
  font-size: 20px;
  color: #ddd;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.iconGroup .details span {
  display: block;
  color: #ccc;
  font-size: 18px;
}

.iconGroup .details span:nth-child(1) {
  text-transform: uppercase;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.35);
}

section.left .socialMedia {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin: 22px 0 20px;
}

.socialMedia a {
  width: 38px;
  height: 38px;
  text-decoration: none;
  text-align: center;
  margin-right: 15px;
  border-radius: 50%;
  border: 2px solid #ddd;
  transition: 0.4s;
  box-shadow: 0 0 8px 0px white;
}

.socialMedia a i {
  color: #fff;
  font-size: 18px;
  line-height: 35px;
  border: 1px solid transparent;
  transition: 0.2s;
}
.socialMedia a i:hover {
  color: #ff0d00;  
}

.socialMedia a:hover {
  transform: translateY(-4px) translateX(-4px);
  box-shadow: 2px 3px 0 0 #ff0d00;
  border: 1px solid #ff0d00;
};

.socialMedia a:active {
  transform: translateY(1px) translateX(1px);
  box-shadow: 0 0 0 0 black;
};

.socialMedia a:hover i {
  color: #f00;
}

/* Right Section Styling */
.row section.right .messageForm {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 30px;
}

.row section.right .inputGroup {
  margin: 18px 0;
  position: relative;
}

.messageForm .halfWidth {
  flex-basis: 48%;
}

.messageForm .fullWidth {
  flex-basis: 100%;
}

.messageForm input,
.messageForm textarea {
  width: 100%;
  font-size: 18px;
  padding: 2px 0;
  background-color: #232323;
  color: #ddd;
  border: none;
  border-bottom: 1px solid #ddd;
  outline: none;
}

.messageForm textarea {
  resize: none;
  height: 220px;
  display: block;
}

textarea::-webkit-scrollbar {
  width: 5px;
}

textarea::-webkit-scrollbar-track {
  background-color: #1e1e1e;
  border-radius: 15px;
}

textarea::-webkit-scrollbar-thumb {
  background-color: #007bff;
  border-radius: 15px;
}

.inputGroup label {
  position: absolute;
  left: 0;
  bottom: 10px;
  background:linear-gradient(to right, #f00, #00f);
  -webkit-background-clip:text;
  background-clip:text;
  font-size: 14px;
  transition: 0.4s;
  pointer-events: none;
}

.inputGroup:nth-child(4) label {
  top: 2px;
}

.inputGroup input:focus ~ label,
.inputGroup textarea:focus ~ label,
.inputGroup input:valid ~ label,
.inputGroup textarea:valid ~ label {
  transform: translateY(-20px);
  font-size: 12px;
}

.inputGroup button {
  padding: 8px 16px;
  font-size: 18px;
  background-color: #007bff;
  color: #ddd;
  border: 1px solid transparent;
  border-radius: 25px;
  outline: none;
  cursor: pointer;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
  transition: 0.4s;
}

.inputGroup button:hover {
  background-color: #2e2e2e;
  color: #007bff;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
  border: 1px solid #007bff;
}
.contactTitle h2 {
  font-family: 'Montserrat-Bold', sans-serif;
}

.contactTitle p {
  font-family: 'Montserrat-Light', sans-serif;
}
* {
  font-family: 'Montserrat-Light', sans-serif; /* Default font for body */
}

h1, h2, h3 {
  font-family: 'Montserrat-Bold', sans-serif; /* Bold fonts for headings */
}

p, input, textarea {
  font-family: 'Montserrat-Light', sans-serif; /* Light font for paragraphs and form fields */
}


#footer{
  height: auto;
  font-family: Montserrat-Light;
  background-color: black;
}

#foothead2{
  background: linear-gradient(to right, #007BFF, #ff0d00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#medialink:hover{
  transition: 0.4s;
  transform: scale(0.965);
}
#fit-fusion{
  background: linear-gradient(
    to right,
    #007BFF,
    #ff0d00,
    #007BFF,
    #ff0d00
  );
  background-size: 300% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: gradient-wave 5s linear infinite;
}
#foothead1{
  background: linear-gradient(
    to right,
    #007BFF,
    #ff0d00,
    #007BFF,
    #ff0d00
  );
  background-size: 300% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: gradient-wave 6s linear infinite;
}
@keyframes gradient-wave {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 300% 50%;
  }
}
/* Media Queries */
@media (max-width: 1100px) {
  .messageForm .halfWidth {
    flex-basis: 100%;
  }
}

@media (max-width: 900px) {
  .container .row {
    flex-wrap: wrap;
  }
  .row section.left,
  .row section.right {
    flex-basis: 100%;
    margin: 0;
  }
}
.container .row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1514px;
}
.container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
  max-width: 1320px;
}