@font-face{
    font-family: Montserrat-SemiBold;
    src: url(../assets/Fonts/Montserrat-SemiBold.ttf);
}
@font-face{
    font-family: Montserrat-Light;
    src: url(../assets/Fonts/Montserrat-Light.ttf);
}
@font-face{
    font-family: Montserrat-LightItalic;
    src: url(../assets/Fonts/Montserrat-LightItalic.ttf);
}
@font-face{
    font-family: Montserrat-Medium;
    src: url(../assets/Fonts/Montserrat-Medium.ttf);
}
@font-face{
    font-family: Montserrat-Bold;
    src: url(../assets/Fonts/Montserrat-Bold.ttf);
}
@media (max-width: 1024px) and (min-width: 741px){
  .overlay h1{
    font-size: 20px;
  }
  .overlay p{
    font-size: 10px;
  }
  #explore{
    font-size: 12px;
  }
  #learnmore{
    font-size: 12px;
  }
}
@media (max-width: 740px) and (min-width: 710px){
  .overlay h1{
    font-size: 20px;
  }
  .overlay p{
    font-size: 10px;
  }
  #explore{
    font-size: 12px;
  }
  #learnmore{
    font-size: 12px;
  }
}
@media (max-width: 710px) and (min-width: 610px){
  .overlay{
    background-color: black;
  }
  .overlay h1{
    font-size: 18px;
  }
  .overlay p{
    font-size: 8px;
  }
  #explore{
    font-size: 10px;
  }
  #learnmore{
    font-size: 10px;
  }
}
@media (max-width: 610px){
  .overlay{
    background-color: black;
  }
  .overlay h1{
    font-size: 18px;
  }
  .overlay p{
    font-size: 8px;
  }
  #explore{
    font-size: 10px;
  }
  #learnmore{
    font-size: 10px;
  }
}
.navbar ul li a{
    color: white;
    font-family: Montserrat-Medium;
}
.navbar ul li a:hover{
    color: rgb(81, 81, 253);
    transition: 0.4s;
}
::placeholder{
    font-family: Montserrat-LightItalic;
}

#hero{
    height: 100vh;
    padding: 0px;
    margin: 0px;
}
.carousel-item img {
    /* Ensure images cover the entire area */
   
    height: 850px;
    /* Make sure the image takes full height */
    object-fit: fill;
    width: 100%; /* Make sure the image takes full width */
    box-shadow:inset 100px 100px 200px 2000px rgba(0, 0, 0, 1);
}
#backgroundVideo {
  opacity: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  transform: translate(-50%, -50%);
}
.overlay {
font-family: Montserrat-Semibold;
  position: relative;
  z-index: 1;
  color: white;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
}
.overlay h1{
  font-size: 180px;
  text-align: left;
  color: black;
  text-wrap: wrap;

}
.overlay p{
  font-size: 40px;
  text-align: left;
  margin-left: 10px;
  color: white;
}

#explore{
  font-size: 30px;
  font-family: Montserrat-Light;
  background-color: rgba(0, 0, 0, 0.6);
  transition: .4s ease-in-out;
  color: white;
  border-radius: 0%;
  width: 50%;
  padding: 40px;
  display: inline-flex;
  justify-content: center;
  box-shadow: inset 0 0 0 0 rgba(255, 0, 0, 0.65);
}

#explore:hover{
  transform: scale(0.997);
  box-shadow: inset 1000px 0 0 0 rgba(255, 255, 255, 1);
  color: black;
}

#learnmore{
  font-size: 30px;
  font-family: Montserrat-Light;
  background-color: rgba(0, 0, 0, 0.6);
  transition: .4s ease-in-out;
  color: white;
  border-radius: 0%;
  width: 50%;
  padding: 40px;
  display: inline-flex;
  justify-content: center;
  box-shadow: inset 0 0 0 0 rgba(0, 0, 255, 0.65);

}
#learnmore:hover{
  transform: scale(0.997);
  box-shadow: inset -1000px 0 0 0 rgba(255, 255, 255, 1);
  color: black;
}

#content{
    height: 600px;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-family: Montserrat-Medium;
    background-color: white;
    border-bottom: 1px solid white;

}
/* .contenthead{
  font-family: Montserrat-Bold;
  font-size: 180px;
  background:  linear-gradient(to right, #f00, #00f, #000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

} */
#footer{
    height: auto;
    font-family: Montserrat-Light;
    background-color: black;
}

#foothead2{
    background: linear-gradient(to right, #007BFF, #ff0d00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#medialink:hover{
    transition: 0.4s;
    transform: scale(0.965);
}
#returnToTop {
    position: fixed; /* Fixed/sticky position */
    bottom: 10px; /* Place the button 20px from the bottom */
    right: 20px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: 2px solid white; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: rgba(0, 0, 0, 0.6); /* Green background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 60%; /* Rounded corners */
    font-size: 14px; /* Increase font size */
    height: 55px;
    width: 55px;
    transition: 0.3s ease-in-out;
}
  
  #returnToTop:hover {
    transform: scale(0.996); /* Add a dark-grey background on hover */
    background-color: white;
    color: black;
    border: 2px solid white;
  }

  /* This is the code for text to fill in its outline (stroke) */

  /* #fit-fusion {
    font-family: 'Montserrat-Light', sans-serif;
    font-weight: bold;
    position: relative;
    color: transparent;
    -webkit-text-stroke: 0px black;
  } */
  /* #fit-fusion::before {
    content: 'FIT FUSION';
    font-weight: bold;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, #007BFF, #ff0d00);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    overflow: hidden;
    animation: fill-text 1.5s ease-in-out infinite alternate;
  } */
.slide-text1 {
    transform: translateX(100%);
    animation: slideIn 2s forwards;
}
.slide-text2 {
  transform: translateX(-100%);
  animation: slideIn 2s forwards;
  animation-delay: 1s;
}
.slide-text3 {
  transform: translateX(-100%);
  animation: slideIn 2s forwards;
  animation-delay: 2s;
}
@keyframes slideIn {
    to {
        transform: translateX(0);
    }
}
  #fit-fusion{
    background: linear-gradient(
      to right,
      #007BFF,
      #ff0d00,
      #007BFF,
      #ff0d00
    );
    background-size: 300% 100%;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: gradient-wave 5s linear infinite;
  }
  #foothead1{
    background: linear-gradient(
      to right,
      #007BFF,
      #ff0d00,
      #007BFF,
      #ff0d00
    );
    background-size: 300% 100%;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: gradient-wave 6s linear infinite;
  }
  @keyframes gradient-wave {
    0% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 300% 50%;
    }
  }
  /* @keyframes fill-text {
    0% {
      width: 0%;
    }
    100% {
      width: 100%;
    }
  } */
   




