html{
    user-select: none;
}
body{
    overflow-x:hidden;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face{
    font-family: Montserrat-SemiBold;
    src: url(../assets/Fonts/Montserrat-SemiBold.ttf);
}
@font-face{
    font-family: Montserrat-Light;
    src: url(../assets/Fonts/Montserrat-Light.ttf);
}
@font-face{
    font-family: Montserrat-LightItalic;
    src: url(../assets/Fonts/Montserrat-LightItalic.ttf);
}
@font-face{
    font-family: Montserrat-Medium;
    src: url(../assets/Fonts/Montserrat-Medium.ttf);
}
@font-face{
    font-family: Montserrat-Bold;
    src: url(../assets/Fonts/Montserrat-Bold.ttf);
}

@media(min-width: 1441px){

}
@media(max-width: 1440px) and (min-width: 1056px){

}
@media (max-width: 1055px) and (min-width: 861px){

}
@media(max-width: 860px) and (min-width: 760px){

}

@media (max-width: 760px) and (min-width: 661px){
 
}
@media (max-width: 660px) and (min-width: 571px){

}
@media (max-width: 571px) and (min-width: 530px){

}
@media (max-width: 530px) and (min-width: 495px){

}
@media (max-width: 495px) and (min-width: 450px){

}

@media (max-width: 450px) and (min-width: 400px){

}


@media (max-width: 400px) and (min-width: 350px){

}

@media (max-width: 350px){

}
nav{
    box-shadow: 0 0 20px 10px black;
}
.navbar ul li a{
    color: white;
    font-family: Montserrat-Medium;
}
.navbar ul li a:hover{
    color: #007BFF;
    transition: 0.4s;
}
::placeholder{
    font-family: Montserrat-LightItalic;
}
#userDrop ul{
    background-color: #110f0e;
}

/* Content section */

main{
    
    height: 100%;
    background-color: #121212;
}
#countdown {
    font-size: 1.8vw;
    font-family: Montserrat-Medium;
    color: #00ff33;
    text-shadow: 0 0 8px #00ff33;
    padding: 0 10px;
    line-height: 1.4;
    /* color: #00ff33; */
}

#heading{
    align-content: center;
    min-height: 100vh;
    overflow: hidden;
    margin-top: 64px;
    font-family: Montserrat-Semibold;
    background: #121212
    radial-gradient(#00950f 10%, transparent 15%);
    background-size: 20px 20px;
}
#heading h1{
    font-size: 10vw;
}
/* Muscle group divs */

/* Muscle group divs */
#footer{
    box-shadow: 0 0 20px 0 #00ff33;
    height: auto;
    font-family: Montserrat-Light;
    background-color: black;
}

#foothead2{
    background: linear-gradient(to right, #007BFF, #ff0d00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#foothead3{
    background: linear-gradient(
        to right,
        #00ff33,
        #00ff33,
        #00ff33
        );
        background-size: 300% 100%;
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        text-shadow: 0 0px 8px #00ff33;
}
#medialink:hover{
    transition: 0.4s;
    transform: scale(0.965);
}
#returnToTop {
    position: fixed; /* Fixed/sticky position */
    bottom: 10px; /* Place the button 20px from the bottom */
    right: 20px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: 2px solid white; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: rgba(0, 0, 0, 0.6); /* Green background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 60%; /* Rounded corners */
    font-size: 14px; /* Increase font size */
    height: 55px;
    width: 55px;
    transition: 0.3s ease-in-out;
}

#returnToTop:hover {
    transform: scale(0.996); /* Add a dark-grey background on hover */
    background-color: white;
    color: black;
    border: 2px solid white;
}

#fit-fusion{
    background: linear-gradient(
    to right,
    #007BFF,
    #ff0d00,
    #007BFF,
    #ff0d00
    );
    background-size: 300% 100%;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: gradient-wave 5s linear infinite;
}
#foothead1{
    background: linear-gradient(
    to right,
    #007BFF,
    #ff0d00,
    #007BFF,
    #ff0d00
    );
    background-size: 300% 100%;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: gradient-wave 6s linear infinite;
}
@keyframes gradient-wave {
    0% {
    background-position: 0% 50%;
    }
    100% {
    background-position: 300% 50%;
    }
}
