html{
    user-select: none;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  @font-face{
      font-family: Montserrat-SemiBold;
      src: url(../assets/Fonts/Montserrat-SemiBold.ttf);
  }
  @font-face{
      font-family: Montserrat-Light;
      src: url(../assets/Fonts/Montserrat-Light.ttf);
  }
  @font-face{
      font-family: Montserrat-LightItalic;
      src: url(../assets/Fonts/Montserrat-LightItalic.ttf);
  }
  @font-face{
      font-family: Montserrat-Medium;
      src: url(../assets/Fonts/Montserrat-Medium.ttf);
  }
  @font-face{
      font-family: Montserrat-Bold;
      src: url(../assets/Fonts/Montserrat-Bold.ttf);
  }
  
@media(min-width: 1441px){

}
@media(max-width: 1440px) and (min-width: 1056px){

}
@media (max-width: 1055px) and (min-width: 861px){

}
@media(max-width: 860px) and (min-width: 760px){

}

@media (max-width: 760px) and (min-width: 661px){
    
}
@media (max-width: 660px) and (min-width: 571px){

}
@media (max-width: 571px) and (min-width: 530px){

}
@media (max-width: 530px) and (min-width: 495px){

}
@media (max-width: 495px) and (min-width: 450px){

}

@media (max-width: 450px) and (min-width: 400px){

}


@media (max-width: 400px) and (min-width: 350px){

}

@media (max-width: 350px){

}
nav{
box-shadow: 0 0 20px 10px black;
}
.navbar ul li a{
    color: white;
    font-family: Montserrat-Medium;
}
.navbar ul li a:hover{
    color: rgb(81, 81, 253);
    transition: 0.4s;
}
::placeholder{
    font-family: Montserrat-LightItalic;
}
#userDrop ul{
    background-color: #110f0e;
}

body{
    margin-top: 60px;
    overflow-x:hidden;
}
.main{
    font-family: Montserrat-Medium;
    background-color: #110f0e;
    display: flex;
    flex-direction: column;
    margin-top: 64px;
}
.header{
    text-transform: uppercase;
    color: white;
    /* text-shadow: 0 0px 20px white;   */
    font-size: 7vw;
    overflow: hidden;
    background-color: #222;
}
#tick {
    background: linear-gradient(to right, #3cff00, #208701);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
    filter: drop-shadow(0px 0px 5px rgba(0, 255, 0, 0.8));
}
#cross {
    background: linear-gradient(to right, #ff0d00, #a10800);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
    filter: drop-shadow(0px 0px 5px rgba(255, 0, 0, 1));
}

.plan-name {
    line-height: 1.2;
}

.payBtn{
    font-size: 1rem;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.333);
    border: none;
    border-radius: 10px;
    color: white;
    transition: 0.4s;
}
.payBtn:hover{
    background-color: #1e1b18;
}

/* BASIC */

.basic {
    min-height: 100vh;
    width: 100%;
    background-color: #110f0e;
    background-image: url('../assets/Images/basciBG.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    overflow: hidden;
}

#basic1 {
    text-transform: uppercase;
    font-family: Montserrat-Light;
    font-size: calc(1.5rem + 2.5vw);
    color: white;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
    box-shadow: 0 0 20px 0 black;
    overflow: hidden;
}

#basic2 {
    background-color: #1e1b18;
    color: white;
    border-radius: 25px;
    overflow: hidden;
}

#basic2 ul {
    font-family: Montserrat-Light;
    font-size: calc(0.8rem + 0.2vw);
}

/* STANDARD */

.standard {
    min-height: 100vh;
    width: 100%;
    background-color: #110f0e;
    background-image: url('../assets/Images/standardBG.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    overflow: hidden;
}

#standard1 {
    text-transform: uppercase;
    font-family: Montserrat-Light;
    font-size: calc(1.5rem + 2.5vw);
    color: white;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
    box-shadow: 0 0 20px 0 black;
    overflow: hidden;
}

#standard2{
    background-color: #1e1b18;
    color: white;
    border-radius: 25px;
    overflow: hidden;
}

#standard2 ul {
    font-family: Montserrat-Light;
    font-size: calc(0.8rem + 0.2vw);
}

/* PREMIUM */

.premium {
    min-height: 100vh;
    width: 100%;
    background-color: #110f0e;
    background-image: url('../assets/Images/premiumBG.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    overflow: hidden;
}

#premium1 {
    text-transform: uppercase;
    font-family: Montserrat-Light;
    font-size: calc(1.5rem + 2.5vw);
    color: white;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
    box-shadow: 0 0 20px 0 black;
    overflow: hidden;
}

#premium2 {
    background-color: #1e1b18;
    color: white;
    border-radius: 25px;
    overflow: hidden;
}

#premium2 ul {
    font-family: Montserrat-Light;
    font-size: calc(0.8rem + 0.2vw);
}

/* FOOTER */

#footer{
    height: auto;
    font-family: Montserrat-Light;
    background-color: black;
}

#foothead2{
    background: linear-gradient(to right, #007BFF, #ff0d00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#foothead3{
background: linear-gradient(135deg, #000, #f00, #000, #007bff, #000);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
text-shadow: 10px 10px 0px white;
}


#medialink:hover{
    transition: 0.4s;
    transform: scale(0.965);
}
#returnToTop {
    position: fixed; /* Fixed/sticky position */
    bottom: 10px; /* Place the button 20px from the bottom */
    right: 20px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: 2px solid white; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: rgba(0, 0, 0, 0.6); /* Green background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 60%; /* Rounded corners */
    font-size: 14px; /* Increase font size */
    height: 55px;
    width: 55px;
    transition: 0.3s ease-in-out;
}

#returnToTop:hover {
    transform: scale(0.996); /* Add a dark-grey background on hover */
    background-color: white;
    color: black;
    border: 2px solid white;
}

#fit-fusion{
    background: linear-gradient(
    to right,
    #007BFF,
    #ff0d00,
    #007BFF,
    #ff0d00
    );
    background-size: 300% 100%;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: gradient-wave 5s linear infinite;
}
#foothead1{
    background: linear-gradient(
    to right,
    #007BFF,
    #ff0d00,
    #007BFF,
    #ff0d00
    );
    background-size: 300% 100%;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: gradient-wave 6s linear infinite;
}
@keyframes gradient-wave {
    0% {
    background-position: 0% 50%;
    }
    100% {
    background-position: 300% 50%;
    }
}

  